{% extends 'base.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
<div id="block_center">

   {% for cat, msg in get_flashed_messages(True) %}
        {% if cat == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Успіх!</strong> Стаття доданна успішно, можете перейти на головну сторінку.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Помилка!</strong> Перевірте написання та кількіть тексту.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

    {% endfor %}
    <h3 class="text_title">{{ title }}</h3>

    <form action="{{ url_for('addPost') }}" method="post" class="form-contact-login" enctype="multipart/form-data">


        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label mb-0 text-white">Тема статтї:</label>
          <input type="text" name="name" value="" required class="form-control" id="exampleFormControlInput1" placeholder="Більше 4 менше 200 символів">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label mb-0 text-white">Опис теми</label>
          <textarea class="form-control" name="post" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="file_load">

            <label for="exampleFormControlTextarea1" class="form-label mb-0 text-white">Картинка теми</label>

            <div class="input-group">
              <input type="file" class="form-control" name="file">

            </div>


            <div class="d-grid gap-2 mt-4">
                  <button class="btn btn-warning" type="submit">Додати</button>
            </div>
        </div>



    </form>
</div>

{% endblock %}