{% extends 'base.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block body %}
<div id="block_center_post">
   <div class="block_articles">
        <div class="article_title_block">
            <h1 class="h1_post">{{ title }}</h1>
        </div>
       <img class="img_article" src="{{ url_for('serve_image', filename=img[0]) }}" alt="user">
       <div id="form" class="main_text_block">
           <p class="text_article">{{ post }}</p>
           <a href="" ><img class="img-like" src="/static/images/like_red.png" alt="user"></a>
       </div>
    </div>


    <div  class="block_articles">
   <div class="accordion"  id="accordionPanelsStayOpenExample" data-bs-theme="dark">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button text-white"  type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <h5>Коментарі</h5>
      </button>

    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div  class="accordion-body" >
        <strong>
            {% for cat, msg in get_flashed_messages(True) %}
                {% if cat == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Успіх!</strong> {{ msg }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>Помилка!</strong> {{ msg }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        </strong>

    <form  action="{{ url_for('showPost', id_post=id) }}" method="post">

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
          <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3" placeholder="Додайте коментар…"></textarea>
        </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary mt-2 mb-2" type="submit">Коментувати</button>
    </div>
    </form>

    {% for comments, image_avatar in data %}

    <div class="card mt-4">

          <div class="card-body" >

            <p><img src="{{ url_for('serve_images_avatar', filename_avatar=image_avatar) }}"  class="rounded-circle" width="50px" height="50px" alt="...">
                {{ comments.name }}<small class="text-body-secondary"> {{ comments.formatted_time }}</small>
                <br>
                {{ comments.comment_text }}
            </p>
          </div>
        </div>
    {% endfor %}

      </div>


    </div>
  </div>
</div>
</div>

</div>

{% endblock %}