<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <meta name="viewport" content="width=1280"> -->
	<!-- <meta http-equiv="Refresh" content="1"> -->
	<link rel="stylesheet" href='/static/test.css' />
	<title>Document</title>
</head>
<body>
       
    <div id="main">
       
        <div id="block_header">
            <p class="text_center">Відкрита стаття</p>
        </div>
        <div id="side_panel">
            <img class="img_side_panel" src="/static/images/ico_user.png" alt="user">
            
        </div>
        
        
        <div id="main_center">
            
            
            <div id="block_center">
               
                <div class="block_articles">
                    <div class="article_title_block">
                        <h1>Дата-аналитик и ML-инженер: разбираем обязанности специалистов</h1>
                    </div>
                   <img class="img_article" src="/static/images/soldat_shlem_art_123765_1920x1080.jpg" alt="user">
                   <div class="main_text_block">
                       <p class="text_article">Над какими задачами работает аналитик данных
                        В построении ленты Дзена есть много аспектов, которые можно совершенствовать.

                        Достаточно ли разнообразные документы отображаются? 
                        Строится ли лента рекомендаций с учётом форматных предпочтений пользователя — текстов, постов или видео? 
                        Достаточно ли контент увлекательный, чтобы пользователь вернулся в сервис?
                        Понимают ли авторы, что нужно делать, чтобы находить своего читателя, «залетать» в широкие рекомендации и набирать подписочную базу?
                        Аналитик данных исследует все эти вопросы. Он эксперт по измерениям. Его задача не просто предлагать изменения в сервисе, основываясь на своём мнении, а по внутренним и внешним данным выводить метрики, которые растят ML-инженеры и продакт-менеджеры.

                        </p>
                   </div>
                   
                </div>

            </div>

        </div>
        <div id="block_bottom">
            
        </div>
</div>




</body>
</html>