<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=1280"> -->
	<!-- <meta http-equiv="Refresh" content="1"> -->
	<link rel="stylesheet" href='/static/test.css' />
	<title>Document</title>
</head>
<body>
       
    <div id="main">
       
        <div id="block_header">
            <p class="text_center">sds</p>
        </div>
        <div id="side_panel">
            <img class="img_side_panel" src="/static/images/ico_user.png" alt="user">
            
        </div>
        
        
        <div id="main_center">
            
            
            <div id="block_center">
               
                <div class="block_internal_center">


                    <div class="block_article_finish">
                       <div class="text_1"><p>Mark</p> 
                       
                       </div>
                    </div> 

                   <img class="block_img_article" src="/static/images/soldat_shlem_art_123765_1920x1080.jpg" alt="user">
                   <p class="text_article"></p>
                </div>
                <div class="block_internal_center">


                    <div class="block_article_finish">
                       <div class="text_1"><h1></h1>
                   <p class="text_article"></p>
                       </div>
                    </div> 

                   <img class="block_img_article" src="/static/images/soldat_shlem_art_123765_1920x1080.jpg" alt="user">
                </div>
                
            </div>
            
    


            
        </div>
        <div id="block_bottom">
            
        </div>
</div>




</body>
</html>